@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
}


/* text */
.gradient-color {
  /* font-size: 72px; */
  background: -webkit-linear-gradient(#EF4444, #7E22CE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* icon button */
.icons_color {
  background: -webkit-linear-gradient(#EF4444, #7E22CE);
}